* {
  background-color: #e8eae3;
}

span {
  color: #deb992;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: center;
  font-size: larger;
}
h1 {
  font-size: 36px;
}

p {
  font-size: 1.2em;
}
